// Table component variables
$table-generate-scheme: true;

/* Table component prototype */
table.table {
	border-collapse: collapse;
	width: 100%;

	caption {
		font-size: $small-font-size;
		margin-bottom: $block-margin;
		text-align: center;
	}

	th {
		color: $fg-bold-color;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		letter-spacing: $heading-letter-spacing;
		line-height: $heading-line-height;
	}

	td, th {
		border: solid 1px $border-color;
		padding: 0.75rem;
		text-align: left;
	}

	thead th {
		border-bottom: 2px solid $border-color;
	}

	tfoot td {
		font-weight: $bold-font-weight;
	}
}

/* Table component extensions */
table.table {
}

/* Table component scheme modifications */
@each $scheme in map-keys($schemes) {
	@if (map-val($schemes, $scheme, generate-scheme) and $table-generate-scheme) {
		.scheme--#{$scheme} {

			table.table {

				th {
					color: map-val($schemes, $scheme, fg-bold-color);
				}

				td, th, thead th {
					border-color: map-val($schemes, $scheme, border-color);
				}
			}
		}
	}
}

/* Table wrapper component */
div.table-wrapper {
	margin: 0 0 $element-margin 0;
	overflow-x: auto;
}

/* Table wrapper extensions */
div.table-wrapper {
}